pyrogram
TgCrypto
pytgcalls
python-dotenv
requests
aiohttp
youtube_search_python
asyncio
youtube_search
youtube-dl
search_engine_parser
wget
python-arq
youtube_dl
aiofiles
ffmpeg
requests
motor
dnspython
bs4
psutil
heroku3
gitpython
